.container {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid grey;
    padding: 20px;
}

.card img {
    width: 250px;   
}

@media only screen and (max-width: 576px) {
    body {
        background-color: orange;
    }
    
    .container {
        flex-wrap: wrap;
    }

    .container div {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    body {
        background-color: rgb(0, 131, 163);
        color: white;
    }

    .container {
        flex-wrap: wrap;
    }
    
    .container div:first-child {
        width: 40%;
    }
    
    .container div:nth-of-type(2) {
        width: 40%;
    }

    .container div:last-child {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(12, 189, 12);
    }
}