@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat.ttf');
}

* {
    font-family: Montserrat;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

nav ul {
    display: flex;
    gap: 20px;
    font-size: .9rem;
    list-style-type: none;
    float: right;
    margin-right: 20px;
    font-size: 16px;
}

nav ul li a:hover {
    transition: .15s ease-in;
    color: black;
}

nav ul li a {
    color: rgb(114, 114, 114);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color: white;
    z-index: 100;
    filter: drop-shadow(0 0 0.5rem rgb(226, 226, 226));
    font-size: 24px;
}

.headerTitle {
    color: black;
    margin-left: 20px;
    font-weight: 600;
}

.container {

}

.cner_header {
    display: flex;
    height: 90vh;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 50px;
    opacity: 0;
}

.cner_header {
    animation: opacityAnimation 1.2s ease-in-out forwards;
    opacity: 1;
    padding-bottom: 200px;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title_desc {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 5rem;
}

.desc {
    color: grey;
}

.img_group {
    position: relative;
    width: 800px;
    height: 800px;
}

.img_group img {
    position: absolute;
    border: 1px solid white;
    border-radius: 20px;
    transition: .15s ease-in;
}

.img_group img:hover {
    scale: 1.005;
}

.img_group img:first-of-type {
    top: 10%;
    left: 0%;
    z-index: 2;
}

.img_group img:nth-of-type(2) {
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
    z-index: 1;
}

.img_group img:last-of-type {
    top: 40%;
    left: 20%;
    z-index: 0;
}

.cner_body {
}

.cner_body img {
    width: 50%;
}

.main_desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    padding: 100px;
    font-size: 1.1rem;
}

.main_desc_text1 {
    width: 40%;
    padding: 50px;
}

.main_desc_text2 {
    width: 100%;
    padding: 50px;
}

.cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.cards div img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}

.cards > div {
    filter: drop-shadow(0 0 0.5rem rgb(206, 206, 206));
    background-color: white;
    width: 450px;
    height: 650px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 20px;
    gap: 20px;
    transition: .15s ease;
    cursor: pointer;
}

.cards > div:hover {
    scale: 1.01;
}

.card_data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card_title {
    font-size: 1.1rem;
    font-weight: 500;
}

.card_desc {
    text-align: justify;
}

aside {
    position: fixed;
    top: 50%;
    right: -270px;
    transform: translate(0%, -50%);
    width: 300px;
    height: 200px;
    z-index: 99;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    filter: drop-shadow(0 0 0.1rem grey);
    cursor: pointer;
    transition: .7s ease;
}

aside img {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

aside:hover {
    right: 1%;
}

aside ul {
    gap: 20px;
    font-size: .9rem;
    list-style-type: none;
    float: right;
    padding: 0;
    margin-right: 20px;
    font-size: 1.1rem;
}

aside ul li a:hover {
    transition: .15s ease-in;
    color: black;
}

aside ul li a {
    color: rgb(114, 114, 114);
    text-decoration: none;
}

aside hr {
    width: 100%;
    border: 0;
    background-color: rgb(211, 211, 211);
    height: 1px;
}

.lat_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    float: right;
    height: 100%;
}

.lat_menu ul {
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.ul-title {
    font-size: 1.1rem;
    margin-right: 20px;
}

.mid_desc {
    position: relative;
}

.mid_desc {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 99vw;
}

.mid_desc {
    width: 100%;
    height: 900px;
}

.mid_desc_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 150px;
    width: 100%;
    height: fit-content;
}

.mid_desc_img img {
    position: absolute;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    transition: .15s ease-in-out;
}

.mid_desc_img img:hover {
    filter: drop-shadow(0 0 0.5rem rgb(128, 128, 128));
}

.mid_desc_img img:first-of-type {
    top: 0;
    left: 130px;
}

.mid_desc_img img:nth-of-type(2) {
    width: 900px;
    height: 550px;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.mid_desc_img img:last-of-type {
    top: 0;
    right: 130px;
}

.mid_desc_data {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.mid_desc_title {
    font-size: 3rem;
    font-weight: 600;
}

.mid_desc_desc {
    font-size: 1.2rem;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgb(185, 185, 185);
    margin-top: 100px;
    width: 100%;
    height: 80px;
    background-color: white;
    filter: drop-shadow(0 0 0.5rem rgb(226, 226, 226));
}

footer ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin-right: 20px;
    font-size: 24px;
}

footer ul li a:hover {
    transition: .15s ease-in;
    color: black;
}

footer ul li a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-size: 1rem;
}

.footerTitle {
    font-size: 1.2rem;
    margin-left: -20px; /* OPTICAL */
    font-weight: 500;
}

.cner_bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    filter: drop-shadow(0 0 0.2rem rgb(177, 177, 177));
}

.cner_bottom_img_container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.cner_bottom_img_container img {
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    filter: blur(.1rem);
    opacity: .5;
}

.cner_bottom span {
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
    z-index: 1;
    color: white;
    align-self: flex-end;
}

.cner_bottom_title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: white;
    color: black !important;
}

.cner_bottom_desc {
    width: 80%;
    font-size: 1.2rem;
    background-color: white;
    color: black !important;
}

.img_storage {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.img_storage_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.img_storage_images img {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    filter: drop-shadow(0 0 .1rem grey);
    transition: .15s ease-in;
}

.img_storage_images img:hover {
    scale: 1.005;
}

.img_storage_title {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}


@media only screen and (max-width: 576px) {
    body {
    }

    .cner_header {
        flex-direction: column;
    }

    .img_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }

    .img_group img {
        position: unset;
        width: 500px;
        height: 200px;
    }
    
    .img_group img:nth-of-type(2) {
        transform: translate(0);
    }

    .mid_desc_img {
        display: none;
    }

    .main_desc {
        all: unset;
        display: flex;
        flex-direction: column;
    }

    .main_desc img {
        width: 100%;
    }

    .main_desc span {
        width: 80%;
        padding: 10px;
        align-items: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1300px) {
    body {
    }

    .cner_header {
        flex-direction: column;
    }

    .img_group {
        width: 100%;
    }

    .img_group img {
        width: 500px;
        height: 300px;
    }

    .img_group img:first-of-type {
        top: 30px;
        left: 8%;
        z-index: 1;
    }
    
    .img_group img:nth-of-type(2) {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
        width: 530px;
        height: 330px;
    }
    
    .img_group img:last-of-type {
        top: 30px;
        right: 8%;
        left: unset;
        z-index: 1;
    }

    .mid_desc_img img {
        width: 500px;
        height: 200px;
    }

    .mid_desc_img img:first-of-type {
        top: 0;
        left: 0;
        width: 530px;
        height: 330px;
    }
    
    .mid_desc_img img:nth-of-type(2) {
        width: 530px;
        height: 330px;
    }

    .mid_desc_img img:last-child {
        right: 0;
        bottom: 0;
        width: 530px;
        height: 330px;
    }

    .main_desc {
        flex-direction: column;
        padding: 0;
    }

    .main_desc img {
        width: 80%;
    }

    .main_desc_text1 {
        width: 80%;
    }

    .main_desc_text2 {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .cner_bottom {
        width: 100%;
    }

    .cner_bottom_title {
        font-size: 2.3rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .cner_bottom_desc {
        font-size: 1rem;
        width: 80%;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}