header {
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5rem 1rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

header nav ul {
    background-color: rgb(17, 238, 183);
    grid-auto-flow: column;
    justify-content: end;
    display: flex;
    list-style-type: none;
    gap: 200px;
    margin-right: 20px;
    padding: 10px;
    flex-wrap: wrap;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

header nav ul li {
    cursor: pointer;
    color: rgb(68, 68, 68);
}

header nav ul li:hover {
    color: black;
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80%;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 100px;
    padding-top: 60px;
}

.loremIpsumContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;

    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.imagesContainer img {
    padding: 20px;
}

footer {
    width: 100%;
    background-color: rgb(202, 202, 202);
    height: 70px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer h4 {
    margin-left: 20px;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

footer ul {
    justify-content: end;
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-right: 20px;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
